body {
   background-color: black;
    text-align: center;
 }

 span {
    padding-right: 1200px;
    color: white;
}

.button1 {
    color: white;
    background-color: blueviolet;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: right;
    margin-right: 150px;
    margin-top: 5px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.container1 {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 50px;
}

#image1 {
    width: 600px;
    height: 400px;
    margin-left: 550px;
    display: block;
}

.container-section {
    background-color: white;
    height: 600px;
}

table {
    text-align: center;
    background-color: gray;
    margin-left: 650px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

th {
    padding: 5px;
    color: white;
}

td {
    padding-left: 5px;
    padding-right: 15px;
    color: white;
}
/*
.time-box {
    text-align: center;
    color: white;
}

.time-box span {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

.time-box small {
    font-size: 0.7rem;
    letter-spacing: 1px;
}*/

.button2 {
    background-color: blueviolet;
    padding: 15px 40px;
    color: white;
}

p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

.section-container {
    margin-top: 50px;
}

#image2 {width: 300px;
     height: 200px;
     float: right;
     margin-right: 150px;
     }

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-left: 62px;
    max-width:300px;
    font-family: 'Times New Roman', Times, serif;
    }    
    
#paragraph1 {
    max-width: 500px;
    margin-right: auto;
    margin-left: 90px;
    text-align: justify;
    font-weight: 100;
    font-size: 1rem;
}    

.button3 {
    background-color: blueviolet;
    padding: 15px 40px;
    color: white;
    float: left;
    margin-left: 95px;
}

.section2-container {
    background-color: blueviolet;
    color: white;
    border: 1px solid;
    height: 350px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    margin-left: 95px;
    margin-top: 50px;
}

#paragraph2 {
    text-align: left;
    margin-left: 95px;
    max-width: 600px;
}

h4 {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: right;
    margin-right: 500px;
    margin-top: -100px;
   
}

#paragraph3 {
   text-align: right;
   margin-right: 80px;
   margin-top: -8px;
}    

h5 {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    margin-left: 95px;
    margin-top: 50px;
}

#paragraph4 {
    text-align: left;
    margin-left: 95px;
    max-width: 600px;
    margin-top: -8px;
}

h6 {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: right;
    margin-right: 540px;
    margin-top: -100px;
}

#paragraph5 {
   text-align: right;
   margin-right: 80px;
   margin-top: -20px;
}




